@use '../../../node_modules/avilalab-elements/src/scss/variables' as *;

.post-meta {
    width: 100%;
    padding: 16px;
    border: 1px solid $primary;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-author, &-categories {
        b {
            margin-right: 8px;
        }
    }
}

.post-meta.loading {
    .post-meta {
        &-author, &-categories {
            height: 10px;
            background-color: #979797;
            border-radius: 8px;

            & > * {
                display: none;
            }
        }

        &-categories {
            width: 50%;
        }
    }
}