@use '../../../node_modules/avilalab-elements/src/scss/variables' as *;

.breadcrumb-item {
    &.active {
        color: $primary;
    }
}

.fixed {
    position: fixed;
}

.post-meta {
    .post-meta-container {
        padding: 32px;
        border: 1px solid $primary;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    h3 {
        margin-bottom: 32px;

        i {
            color: $gold;
        }
    }

    i {
        color: $primary;
        margin-right: 16px;
    }

    b {
        margin-right: 16px;
    }

    

    &-categories {
        display: flex;

        ul {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            li {
                list-style: none;

                a {
                    color: $primary;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.post-meta.loading {
    gap: 24px;

    .post-meta-author, .post-meta-updated > div, .post-meta-categories > div {
        width: 100%;
        height: 8px;
        background: linear-gradient(270deg,#6d6d6d,#b5b5b5,#444444);
        background-size: 180% 180%;
        animation: gradient-animation 1s ease infinite;
        border-radius: 8px;
    }
}